Source: vyatta-openvpn
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev, automake, autoconf, cpio
Standards-Version: 3.7.2

Package: vyatta-openvpn
Architecture: all
Depends: perl,
 vyatta-cfg (>= 0.15.33),
 vyatta-op,
 vyatta-bash | bash (>= 3.1),
 openvpn,
 openvpn-auth-ldap,
 openvpn-auth-radius,
 libfile-slurp-perl
Description: VyOS OpenVPN configuration/operational commands
 VyOS configuration/operational templates and scripts for OpenVPN
