Source: vyatta-openvpn
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-openvpn
Architecture: all
Depends: perl,
 vyatta-cfg (>= 0.15.33),
 vyatta-op,
 vyatta-bash | bash (>= 3.1),
 openvpn
Description: Vyatta OpenVPN configuration/operational commands
 Vyatta configuration/operational templates and scripts for OpenVPN
